.nav{
    width: 100%;
    height: 12vh;
    display: flex;
    background-color: #11224E;
}
.nav1{
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 20%;
   
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.logo p{
    font-size: 2rem;
    color: #EEEEEE;
    font-weight: bold;
}
.logo img{
    width: 3vw;
    margin-right: 3vh;
}
.nav-large,.nav-small{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5rem;
    
}
.menu{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    display: none;
}
.menu img{
    width: 4vw;
}
.link{
    padding: 1vh;
    text-decoration: none;
    border-bottom: 4px solid #F87B1B;
    color: #EEEEEE;
}
.link1:hover{
    color: #F87B1B;
}
.link1{
    padding: 1vh;
    text-decoration: none;
    color: #EEEEEE;

}
.grid{
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}
.items{
    width: 95%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2vh;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid #11224E;
}
.items:hover{
    border: 2px solid #F87B1B;
    transform: translateY(-5px);
    
}
.items img{
    width: 80%;
    margin-bottom: 2vh;
}
.items button{
     padding: 1vh;
    margin: 2vh 0;
    width: 100%;
    font-size: 1.2rem;
    border-radius: 20px;
    background-color: #11224E;
    color:#EEEEEE;
    cursor: pointer;
}
.items button:hover{
    border: 2px solid orangered;
      background-color: orangered;
      color: #11224E;
    
}
.items h2{
    align-self: flex-start;
    margin-bottom: 2vh;
    color: #11224E;
}
.pp{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
    margin: 2vh 0;
}
.price{
    text-decoration: line-through;
    color: gray;
}
.price1{
    color: green;
    font-weight: bold;

}
.productDetails{
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
}
.cont1{
    width: 35%;
    display: flex;
    flex-direction: column;
}
.cont2{
    width: 55%;
    display: flex;
    flex-direction: column;
    
}
.productDetails p{
    margin: 2vh 0;
}
.productDetails button{
      padding: 1vh;
    margin: 2vh 0;
    width: 100%;
    font-size: 1.2rem;
    border-radius: 20px;
    background-color: #11224E;
    color:#EEEEEE;
    cursor: pointer;
}
.productDetails button:hover{
    background-color: #EEEEEE;
    color: #11224E;
}
.cont1 img{
    margin: 2vh 0;
    width: 100%;
}
.srch{
    width: 100%;
    margin: 2vh 0 4vh 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.srch input,select{
    width: 48%;
    padding: 2vh;
    border-radius: 20px;
    border: 2px solid #F87B1B;
    font-size: 1.2rem;
    margin: auto;
    color: #11224E;
}
.cross1{
        width: 100%;
        color: #EEEEEE;
        cursor: pointer;
    }
    .cross1:hover{
        color: red;
    }

@media (max-width:1350px){
    .menu{
        width: 70%;
    }
}
/* @media(max-width:1200px){
    .productDetails{
        width: 100%;
    }
} */
@media (max-width:1000px){
    
    .menu{
        width: 10%;
        display: block;
        position: relative;
    }
    
    .nav-small{
        width: 20vw;
        flex-direction: column;
        position: absolute;
        top: 100%;
        background-color: #4c556b;
        padding: 2vh;
        right: 0;
        z-index:1000;
        
    }
    .nav-large{
        display: none;
    }
}
@media (max-width:890px){
    .nav img{
        width: 5vw;
    }
    .logo{
        width: 30%;
    }
     .nav-small{
        width: 25vw;
    }
    
}
@media (max-width:768px){
    .nav img{
        width: 5.5vw;
    }
   .cont1{
    display: none;
   }
   .cont2{
    width: 100%;
   }
   
   
}